body {
    font-family: "Kanit", sans-serif;
    
  }
  .nav-bar-backGroundColor{
background-color: black;
color: white;  
}
.search-nav{
    color: white;
    background-color: white;

}
.bi .bi-search {
    color: white;
    background-color: white;
    }
